.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.bg-container{
  background-image:url("image/chicken.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height:20rem;
  width:100%;
}
/* .bg-container:hover{
  background-image:url("image/chicken.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height:22rem;
  width:100%;

} */
.select-meal{
  padding:0.6rem;
  background-color: skyblue;
  border:none;
  color:white;
  border-radius: 0.4rem;
  margin-left: 0.2rem;
}
.select-diet{
  padding:0.6rem;
  background-color: skyblue;
  border:none;
  color:white;
  border-radius: 0.4rem;
  margin-left: 0.2rem;
}

.submit_btn{
  padding:0.6rem;
  background-color: skyblue;
  border:none;
  color:white;
  border-radius: 0.4rem;
  margin-left: 0.2rem;
}

.search_field{
  padding:0.6rem;
  background-color: skyblue;
  width:20rem;
  border:none;
  color:white;
  border-radius: 0.4rem;
  margin-left: 0.2rem;
}

.card-container{
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
}

.card{
  width:18rem;
  box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding:2rem;
  border-radius: 0.5rem;
}

@media (max-width:450px) {
  .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .card-container{
  display: grid;
  grid-template-columns: auto;
  gap: 2rem;
 }

 .card{
  width:9rem;
 }
 .card-img-top{
  width:9rem;
 }
}
span{
  color:cyan;
  font-family: 'Courier New', Courier, monospace;
}
.card:hover{
  background-color: aliceblue;
}
.para{
  margin-top: -0.5rem;
  color:azure;
}
.para span{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:red;
  font-size: 1.5rem;
}
.name{
  color:white;
}
.weight{
  color:red;
}
.source{
  color:blue;
}